.header {
    text-align: left;
    background: #fff;
    h1 {
        font-size: 40px;
        font-weight: 800;
    }
    
}

.sider {
    .logo {
        height: 32px;
        margin: 16px;
        background: rgba(255, 255, 255, 0.3);
    }
}

.site-layout {
    height: 100vh;
    // min-height: 100vh;
}